<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.CartStoreGetMapper">

    <select id="findCartByUserEmail" resultType="com.mzm.Fitpin.dto.CartDTO">
        SELECT *
        FROM cart
        WHERE userEmail = #{userEmail}
    </select>

</mapper>
