<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.ItemImgMapper">

    <insert id="insert" parameterType="com.mzm.Fitpin.entity.ItemImg">
        INSERT INTO ItemImg (itemKey, itemImgURL)
        VALUES (#{itemKey}, #{itemImgURL})
    </insert>

    <!-- 다른 CRUD 쿼리들 -->
</mapper>
