<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.ItemMapper">

    <insert id="insertItem" parameterType="com.mzm.Fitpin.entity.Item">
        INSERT INTO items (itemKey, itemNum, itemName, itemImg1, itemImg2, itemImg3, itemContent, itemPrice, itemSale, itemCnt, itemDate)
        VALUES (#{itemKey}, #{itemNum}, #{itemName}, #{itemImg1}, #{itemImg2}, #{itemImg3}, #{itemContent}, #{itemPrice}, #{itemSale}, #{itemCnt}, #{itemDate})
    </insert>

</mapper>
