<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.ItemDetailsMapper">

    <select id="getItemDetailsById" parameterType="int" resultType="com.mzm.Fitpin.entity.Item">
        SELECT itemKey, itemNum, itemName, itemType, itemBrand, itemImg1, itemImg2, itemImg3, itemCnt, itemSize, itemContent, itemPrice, itemDate
        FROM item
        WHERE itemKey = #{itemKey}
    </select>

</mapper>
