<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.ItemSearchMapper">

    <!-- 검색어 존재 여부 확인 -->
    <select id="checkSearchWordExists" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM searchTable WHERE SearchWord = #{searchWord}
    </select>

    <!-- 검색어 삽입 -->
    <insert id="insertSearchWord" parameterType="com.mzm.Fitpin.dto.ItemSearchDTO">
        INSERT INTO searchTable (SearchWord, SearchCount)
        VALUES (#{searchWord}, 1)
    </insert>

    <!-- 검색어 카운트 증가 -->
    <update id="incrementSearchCount" parameterType="string">
        UPDATE searchTable
        SET SearchCount = SearchCount + 1
        WHERE SearchWord = #{searchWord}
    </update>

    <!-- item 테이블에서 검색 및 이미지 URL 반환 -->
    <select id="searchItems" parameterType="string" resultType="com.mzm.Fitpin.entity.ItemSearchwithImg">
        SELECT i.*, ii.itemImgURL
        FROM item i
                 LEFT JOIN ItemImg ii ON i.itemKey = ii.itemKey
        WHERE i.itemName LIKE CONCAT('%', #{searchWord}, '%')
           OR i.itemType LIKE CONCAT('%', #{searchWord}, '%')
           OR i.itemBrand LIKE CONCAT('%', #{searchWord}, '%')
           OR i.itemContent LIKE CONCAT('%', #{searchWord}, '%')
    </select>

</mapper>
