<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.ItemTopSizeMapper">

    <select id="getItemTopSizesByItemKey" parameterType="int" resultType="com.mzm.Fitpin.entity.ItemTopSize">
        SELECT itemKey, itemSize, itemHeight, itemShoulder, itemArm, itemChest, itemSleeve
        FROM itemtopinfo
        WHERE itemKey = #{itemKey}
    </select>

</mapper>
