<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.ItemSearchMapper">

    <select id="searchItems" resultType="com.mzm.Fitpin.entity.Item">
        SELECT * FROM item WHERE itemName LIKE CONCAT('%', #{query}, '%')
    </select>

</mapper>
