<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.RegisterMapper">
    <insert id="insertMember" parameterType="com.mzm.Fitpin.entity.Member">
        INSERT INTO member (userEmail, userPwd, userName)
        VALUES (#{userEmail}, #{userPwd}, #{userName})
    </insert>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM member WHERE userEmail = #{userEmail}
    </delete>
</mapper>
