<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mzm.Fitpin.mapper.login_register.UserFormMapper">

    <insert id="insertUserForm" parameterType="com.mzm.Fitpin.entity.login_register.UserForm">
        INSERT INTO userForm (userEmail, fileName, armSize, shoulderSize, bodySize, legSize)
        VALUES (#{userEmail}, #{fileName}, #{armSize}, #{shoulderSize}, #{bodySize}, #{legSize})
            ON DUPLICATE KEY UPDATE
                                 fileName = VALUES(fileName),
                                 armSize = VALUES(armSize),
                                 shoulderSize = VALUES(shoulderSize),
                                 bodySize = VALUES(bodySize),
                                 legSize = VALUES(legSize)
    </insert>

    <select id="findFileNameByUserEmail" resultType="String" parameterType="String">
        SELECT fileName FROM userForm WHERE userEmail = #{userEmail}
    </select>

</mapper>
