<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.login_register.UserBodyInfoMapper">
    <select id="getUserBodyInfoByEmail" parameterType="string" resultType="com.mzm.Fitpin.dto.login_register.UserBodyInfoDTO">
        SELECT m.userEmail, m.userHeight, m.userWeight, u.armSize, u.shoulderSize, u.bodySize, u.legSize
        FROM member m
                 JOIN userForm u ON m.userEmail = u.userEmail
        WHERE m.userEmail = #{userEmail}
    </select>
</mapper>
