<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.order.OrderMapper">

    <insert id="insertOrder"> <!-- 등록 -->
        INSERT INTO orderList (
            itemKey, userEmail, userName, userAddr, userNumber, optional, itemImg,
            itemSize, itemPrice, itemTotal, pit, pitPrice, qty
        ) VALUES (
                     #{itemKey}, #{userEmail}, #{userName}, #{userAddr}, #{userNumber}, #{optional}, #{itemImg},
                     #{itemSize}, #{itemPrice}, #{itemTotal}, #{pit}, #{pitPrice}, #{qty}
                 )
    </insert>

    <select id="getOrderByUserKey" resultType="com.mzm.Fitpin.dto.order.OrderDTO"><!-- 조회 -->
        SELECT *
        FROM orderList
        WHERE userEmail = #{userEmail}
    </select>


    <update id="updateOrderStatus"><!-- 갱신 -->
        UPDATE orderList
        SET orderStatus = #{orderStatus}
        WHERE orderKey = #{orderKey}
    </update>

</mapper>
