<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.order.OrderMapper">

    <insert id="insertOrder" parameterType="com.mzm.Fitpin.dto.order.OrderDTO" useGeneratedKeys="true" keyProperty="orderKey">
        INSERT INTO orderList (
            itemKey, userEmail, userName, userAddr, userAddrDetail, userNumber, optional, itemImg,
            itemSize, itemPrice, itemTotal, pitStatus, pitPrice, qty, orderStatus
        ) VALUES (
                     #{itemKey}, #{userEmail}, #{userName}, #{userAddr}, #{userAddrDetail}, #{userNumber}, #{optional}, #{itemImg},
                     #{itemSize}, #{itemPrice}, #{itemTotal}, #{pitStatus}, #{pitPrice}, #{qty}, #{orderStatus}
                 )
    </insert> <!-- 삽입 -->

    <select id="getOrderByUserKey" resultType="com.mzm.Fitpin.dto.order.OrderDTO">
        SELECT *
        FROM orderList
        WHERE userEmail = #{userEmail} <!-- 조회 -->
    </select>

    <update id="updateOrderStatus">
        UPDATE orderList
        SET orderStatus = #{orderStatus}
        WHERE orderKey = #{orderKey}
    </update>

    <update id="updatePitPrice"> <!-- 갱신 -->
        UPDATE orderList
        SET pitPrice = #{pitPrice}, orderStatus = #{orderStatus}
        WHERE orderKey = #{orderKey}
    </update>

</mapper>
