<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzm.Fitpin.mapper.order.PaymentMapper">

    <insert id="insertPaymentDetails">
        INSERT INTO paymentDetails (
            orderKey, userEmail, userName, userAddr, userNumber, itemKey, optional, itemImg,
            itemSize, itemPrice, itemTotal, pitPrice, qty, paymentMethod, paymentAmount, paymentDate
        ) VALUES (
                     #{orderKey}, #{userEmail}, #{userName}, #{userAddr}, #{userNumber}, #{itemKey}, #{optional}, #{itemImg},
                     #{itemSize}, #{itemPrice}, #{itemTotal}, #{pitPrice}, #{qty}, #{paymentMethod}, #{paymentAmount}, CURRENT_TIMESTAMP
                 )
    </insert>

</mapper>
